#footer {
  display: flex;
  height: 187px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundshade-color);
  color: var(--primary-color);
  padding-top: 4em;
  padding-bottom: 2em;
}
#footer h4 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

@media (max-width: 768px) {
  #footer {
    display: flex;
    height: 209px;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 2em;
  }
  #footer p {
    max-width: 134px;
    font-size: 0.8rem;
    text-align: center;
  }
}