.logement {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.logement .carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logement .carrousel .link {
  position: absolute;
  width: 40px;
  top: 12px;
  right: 12px;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .github {
  position: absolute;
  width: 90px;
  top: 12px;
  right: 62px;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .arrow {
  color: white;
  position: absolute;
  font-size: 47px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .arrow:hover {
  cursor: pointer;
}
.logement .carrousel .arrow_right {
  right: 12px;
}
.logement .carrousel .arrow_left {
  left: 12px;
}
.logement .carrousel .slide {
  height: 515px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 25px;
}
.logement .carrousel .slide-hidden {
  display: none;
}
.logement .carrousel .indicator {
  display: flex;
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
  font-size: 1.1em;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .descriptionwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
}
.logement .descriptionwrapper h1 {
  color: #053f54;
  font-size: 2em;
  margin: 0;
}
.logement .descriptionwrapper p {
  font-size: 1.1em;
}
.logement .descriptionwrapper .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 19px;
  margin: 0;
  font-size: 25px;
}
.logement .descriptionwrapper .rating .activestar {
  color: #053f54;
}
.logement .descriptionwrapper .rating .star {
  color: #e3e3e3;
}
.logement .descriptionwrapper .hosting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 1.3em;
}
.logement .descriptionwrapper .hosting .hosting_picture {
  border-radius: 64px;
  max-width: 64px;
  max-height: 64px;
}
.logement .descriptionwrapper .hosting h3 {
  display: flex;
  align-items: center;
  text-align: end;
  width: 93px;
  font-size: 1.1em;
  color: #053f54;
  padding: 0;
  margin: 0;
}
.logement .logement-accordion {
  display: flex;
  gap: 76px;
  padding-top: 31px;
  padding-bottom: 50px;
  margin: 0;
}
.logement .logement-accordion .accordion {
  width: 50%;
}
.logement .tags {
  display: flex;
  flex-direction: row;
  gap: 0.6em;
}
.logement .tags .tag {
  display: flex;
  margin: 0;
  min-width: 115px;
  padding: 0px 6px 0px 6px;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: #053f54;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .logement .descriptionwrapper {
    flex-direction: column;
    width: 100%;
  }
  .logement .descriptionwrapper .tags .tag {
    font-size: 10px;
    min-width: 84px;
    height: 18px;
  }
  .logement .descriptionwrapper .description2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logement .descriptionwrapper .description2 div {
    flex: 1;
  }
  .logement .descriptionwrapper .description2 > .hosting {
    position: relative;
    left: 50%;
    padding-top: 17px;
    padding-bottom: 0;
  }
  .logement .descriptionwrapper .description2 > .rating {
    justify-content: flex-start;
    position: relative;
    right: 50%;
    padding-top: 24px;
  }
  .logement .logement-accordion {
    flex-direction: column;
    gap: 1.3rem;
    padding: 13px 0px 27px 0px;
  }
  .logement .logement-accordion .accordion {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logement .carrousel .slide {
    height: 255px;
  }
  .logement .carrousel .indicator {
    display: none;
  }
  .logement .carrousel .arrow {
    font-size: 24px;
  }
  .logement .descriptionwrapper .description1 h1 {
    font-size: 18px;
  }
  .logement .descriptionwrapper .description1 p {
    font-size: 14px;
  }
  .logement .descriptionwrapper .description2 h3 {
    font-size: 12px;
    width: 65px;
  }
  .logement .descriptionwrapper .description2 .hosting_picture {
    border-radius: 32px;
    max-width: 32px;
    max-height: 32px;
  }
  .logement .descriptionwrapper .description2 .rating {
    gap: 8px;
    font-size: 15px;
  }
  .logement .accordion {
    font-size: 13px;
  }
}