body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  align-items: center;
  min-height: calc(100vh - 493px);
}
.main-container h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
  padding: 80px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  left: 50px;
}

@media (max-width: 768px) {
  .main-container {
    min-width: 335px;
    padding: 27px 20px;
    gap: 19px;
    min-height: calc(100vh - 372px);
  }
}
.logement {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.logement .carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logement .carrousel .link {
  position: absolute;
  width: 40px;
  top: 12px;
  right: 12px;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .github {
  position: absolute;
  width: 90px;
  top: 12px;
  right: 62px;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .arrow {
  color: white;
  position: absolute;
  font-size: 47px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .carrousel .arrow:hover {
  cursor: pointer;
}
.logement .carrousel .arrow_right {
  right: 12px;
}
.logement .carrousel .arrow_left {
  left: 12px;
}
.logement .carrousel .slide {
  height: 515px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 25px;
}
.logement .carrousel .slide-hidden {
  display: none;
}
.logement .carrousel .indicator {
  display: flex;
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
  font-size: 1.1em;
  filter: drop-shadow(0px 0px 5px #555);
}
.logement .descriptionwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
}
.logement .descriptionwrapper h1 {
  color: #053f54;
  font-size: 2em;
  margin: 0;
}
.logement .descriptionwrapper p {
  font-size: 1.1em;
}
.logement .descriptionwrapper .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 19px;
  margin: 0;
  font-size: 25px;
}
.logement .descriptionwrapper .rating .activestar {
  color: #053f54;
}
.logement .descriptionwrapper .rating .star {
  color: #e3e3e3;
}
.logement .descriptionwrapper .hosting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 1.3em;
}
.logement .descriptionwrapper .hosting .hosting_picture {
  border-radius: 64px;
  max-width: 64px;
  max-height: 64px;
}
.logement .descriptionwrapper .hosting h3 {
  display: flex;
  align-items: center;
  text-align: end;
  width: 93px;
  font-size: 1.1em;
  color: #053f54;
  padding: 0;
  margin: 0;
}
.logement .logement-accordion {
  display: flex;
  gap: 76px;
  padding-top: 31px;
  padding-bottom: 50px;
  margin: 0;
}
.logement .logement-accordion .accordion {
  width: 50%;
}
.logement .tags {
  display: flex;
  flex-direction: row;
  gap: 0.6em;
}
.logement .tags .tag {
  display: flex;
  margin: 0;
  min-width: 115px;
  padding: 0px 6px 0px 6px;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: #053f54;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .logement .descriptionwrapper {
    flex-direction: column;
    width: 100%;
  }
  .logement .descriptionwrapper .tags .tag {
    font-size: 10px;
    min-width: 84px;
    height: 18px;
  }
  .logement .descriptionwrapper .description2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logement .descriptionwrapper .description2 div {
    flex: 1;
  }
  .logement .descriptionwrapper .description2 > .hosting {
    position: relative;
    left: 50%;
    padding-top: 17px;
    padding-bottom: 0;
  }
  .logement .descriptionwrapper .description2 > .rating {
    justify-content: flex-start;
    position: relative;
    right: 50%;
    padding-top: 24px;
  }
  .logement .logement-accordion {
    flex-direction: column;
    gap: 1.3rem;
    padding: 13px 0px 27px 0px;
  }
  .logement .logement-accordion .accordion {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logement .carrousel .slide {
    height: 255px;
  }
  .logement .carrousel .indicator {
    display: none;
  }
  .logement .carrousel .arrow {
    font-size: 24px;
  }
  .logement .descriptionwrapper .description1 h1 {
    font-size: 18px;
  }
  .logement .descriptionwrapper .description1 p {
    font-size: 14px;
  }
  .logement .descriptionwrapper .description2 h3 {
    font-size: 12px;
    width: 65px;
  }
  .logement .descriptionwrapper .description2 .hosting_picture {
    border-radius: 32px;
    max-width: 32px;
    max-height: 32px;
  }
  .logement .descriptionwrapper .description2 .rating {
    gap: 8px;
    font-size: 15px;
  }
  .logement .accordion {
    font-size: 13px;
  }
}
.apropos {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding-top: 38px;
}

.mycard {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.mycard h4 {
  font-size: 65px;
  padding: 80px 0px 20px 0px;
  margin: 0px 0px 10px 0px;
  left: 50px;
  display: flex;
  justify-content: center;
}
.mycard p {
  font-size: 25px;
}

@media (max-width: 768px) {
  .apropos {
    gap: 1.3em;
    padding-top: 0;
  }
  .apropos .accordion {
    width: 100%;
  }
  .apropos .accordion .label {
    height: 30px;
    font-size: 0.85em;
  }
  .apropos .accordion .content {
    font-size: 0.8em;
  }
}
.error-page {
  display: flex;
  padding: 139px 57px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  margin: 0;
}
.error-page h1 {
  font-size: 20em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #053f54;
}
.error-page h3 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #053f54;
}
.error-page .comebackhome {
  font-size: 1.1em;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 768px) {
  .error-page {
    padding: 113px 57px 113px 57px;
    gap: 113px;
  }
  .error-page h1 {
    font-size: 96px;
  }
  .error-page h3 {
    font-size: 18px;
    min-width: 260px;
  }
  .error-page .comebackhome {
    font-size: 14px;
  }
}
#footer {
  display: flex;
  height: 187px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 4em;
  padding-bottom: 2em;
}
#footer h4 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

@media (max-width: 768px) {
  #footer {
    display: flex;
    height: 209px;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 2em;
  }
  #footer p {
    max-width: 134px;
    font-size: 0.8rem;
    text-align: center;
  }
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 0em 3em;
  max-height: 110px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
#header ul {
  display: flex;
  gap: 4em;
}
#header ul li {
  list-style-type: none;
}
#header ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
#header ul li .nav-active {
  text-decoration: underline;
}

@media all and (max-width: 1000px) {
  #header {
    font-size: 18px;
  }
  #header ul {
    gap: 2em;
  }
}
@media all and (max-width: 650px) {
  #header {
    font-size: 15px;
    padding: 27px 20px;
  }
}
.banner {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner img {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 223px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: black;
  filter: brightness(100%);
}
.banner h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0 -0.5px 0 #000, -0.5px -0.5px 0 #000, -0.5px 0 0 #000, 0.5px 0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0.5px 0 #000, -0.5px 0 0 #000;
  font-weight: bold;
  font-size: 3em;
  padding-left: 16px;
}

@media (max-width: 768px) {
  .banner {
    justify-content: flex-start;
    height: 111px;
  }
  .banner h2 {
    font-size: 1.5rem;
    width: 70%;
  }
  .banner img {
    height: 111px;
  }
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 50px;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 56px 0px 43px 0px;
  margin: 43px 0px 50px 0px;
  width: 100%;
}
.gallery .card {
  width: calc(100% - 120px);
  height: 340px;
  display: flex;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}
.gallery .card img {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 340px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: black;
  filter: brightness(80%);
}
.gallery .card h3 {
  position: relative;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0 20px 20px 20px;
  margin: 0;
}

@media (max-width: 1080px) {
  .gallery {
    padding: 20px 0px 20px 0px;
    gap: 20px;
  }
  .gallery .card {
    width: calc(100% - 40px);
  }
}
.accordion {
  position: relative;
  max-width: 1023px;
}
.accordion .label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #053f54;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 5px;
  height: 52px;
  padding-left: 15px;
  font-weight: bold;
}
.accordion .label__arrow {
  position: absolute;
  top: 30%;
  right: 20px;
  color: #ffffff;
  transform: rotate(-90deg);
  transition: all 0.2s;
}
.accordion .label__arrow:hover {
  cursor: pointer;
}
.accordion .content {
  position: relative;
  background-color: #f6f6f6;
  font-size: 1.1em;
  height: 0;
  overflow: hidden;
}

.active .content {
  height: auto;
  padding: 25px 20px;
  overflow-y: auto;
}
.active .content p {
  padding: 5px;
  margin: 0;
}
.active .label__arrow {
  transform: rotate(90deg);
  transition: all 0.2s;
  top: 0%;
}

#about {
  display: flex;
  background-color: #f6f6f6;
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
  border-radius: 25px;
}
#about .picture.left::before {
  content: " ";
  background-color: #ffffff;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#about .picture {
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}
#about .picture img {
  width: 100%;
  height: auto;
}
#about #about-me {
  flex: 1;
}
#about #about-me .about-me__title {
  margin-top: 1em;
  margin-bottom: 60px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
#about #about-me .about-me__introduction {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  width: 100%;
  font-size: 16px;
}
#about #about-me #about-me p {
  width: 80%;
  font-size: 14px;
}

@media all and (max-width: 1180px) {
  #about {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me p {
    width: 100%;
  }
}
@media all and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
}
@media all and (max-width: 650px) {
  .picture.left::before {
    height: 150px;
    width: 0px;
  }
  #about {
    padding-inline: 2em;
    padding-block: 2em;
  }
  .picture {
    width: 80%;
  }
}