@use "../utils/colors.scss";

#about {
  display: flex;
  background-color: var(--backgroundshade-color);
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
  border-radius: 25px;
  color: var(--primary-color);
  align-items: center;

  .picture.left::before {
    content: " ";
    background-color: var(--square-color);
    width: 374px;
    height: 329px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .picture {
    flex: 1;
    margin: 0 20px;
    z-index: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  #about-me {
    flex: 1;

    .about-me__title {
      margin-top: 1em;
      margin-bottom: 60px;
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 35px;
    }

    .about-me__introduction {
      font-family: "Spectral";
      font-weight: 800;
      font-style: italic;
      width: 100%;
    }

    #about-me p {
      width: 80%;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 1180px) {
  #about {
    align-items: center;
  }

  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }

  #about-me p {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }

  .picture {
    width: 50%;
  }

  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
}

@media all and (max-width: 650px) {
  #about {
    padding-inline: 2em;
    padding-block: 2em;
    .picture.left::before {
      height: 150px;
      width: 0px;
    }
  }

  .picture {
    width: 80%;
  }
}
