@use "../utils/colors.scss";

.accordion {
  position: relative;
  width: calc(1 * (100% - 120px));

  .label {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--label-color);
    color: var(--title-color);
    font-size: 1.5em;
    border-radius: 5px;
    height: 52px;
    padding-left: 15px;
    font-weight: bold;
  }

  .label__arrow {
    position: absolute;
    top: 30%;
    right: 20px;
    color: var(--title-color);
    transform: rotate(-90deg);
    transition: all 0.2s;
  }

  .label__arrow:hover {
    cursor: pointer;
  }

  .content {
    position: relative;
    background-color: var(--title-color);
    font-size: 1.1em;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
  }
}

.active {
  .content {
    height: auto;
    padding: 25px 20px;
    overflow-y: auto;

    p {
      padding: 5px;
      margin: 0;
    }
  }

  .label__arrow {
    transform: rotate(90deg);
    transition: all 0.2s;
    top: 0%;
  }
}
